// Footer 1: Promotions
.footer__promo {
    @media (min-width: 1040px) {
        background: url(../../images/footer-1.png) no-repeat left center, url(../../images/footer-2.png) no-repeat right center;
        background-size: 50%;
    }
    &__container {
        background-size: cover;
        padding: 50px 0 50px 20%;   
        color: white;
        &__header-2 {
            @include fontStyle($primaryFont, 30, 700);

        }
        &__header-3 {
            @include fontStyle($secondaryFont, 18, 400);
        }
        &__link {
            display: inline-block;
            text-decoration: none;
            color: white;
            border: 1px solid white;
            padding: 10px 15px;
            border-radius: 35px;
            &:hover {
                color: black;
                background: rgba(255, 255, 255, 0.2);
                border: 1px solid $accentColour;
            }
        }    
        &:nth-child(1) {
            background: url(../../images/footer-1.png) no-repeat center center;
            background-color: black;
            @media (min-width: 1040px) {
                background: none;
            }
        }   
        &:nth-child(2) {
            background: url(../../images/footer-2.png) no-repeat center center;
             @media (min-width: 1040px) {
                 background: none;
             }
        }
        &:nth-child(2) &__header-2 {
            color: $primaryColour;
        }
        &:nth-child(2) &__header-3 {
            color: lighten($color: $primaryColour, $amount: 20);
        }
        &:nth-child(2) &__link {
            color: black;
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid $accentColour;
            &:hover {
                border: 1px solid black;
                color: $accentColour;
                background: rgba(0, 0, 0, 0.3);
            }
        }
    }    
}

.footer__promo .inner-wrapper {
    @media (min-width: 1040px) {
        display: flex;
    }
}

// Footer 2: Global footer
.footer__global {
    background: darken($color: $lighterColour, $amount: 46);
    .inner-wrapper {
        @media (min-width: 1040px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
    }
    &__container {
        padding: 5px;
        color: white;
        @media (min-width: 1040px) {
            width: 25%;
            padding-left: 10px;
        }
        &__header-2 {
            text-transform: uppercase;
            color: $accentColour;
            &.follow-us {
                @media (min-width: 1040px) {
                    text-align: center;
                }
            }
        }
        // Contact
        &.contact &__list {
            list-style: none;
            padding: 0;
            &__item {
                font-family: $secondaryFont;
                &__link {
                    text-decoration: none;
                    color: white;
                }
            }
        } 
        // Tags
        &.tags &__link {
            @include fontSize(14);
            display: inline-block;
            margin: 2px;
            text-decoration: none;
            color: white;
            padding: 5px;
            border: 1px solid white;
            font-family: $secondaryFont;
            &:hover {
                border: 1px solid $accentColour;
                color: $accentColour;
            }
        }
        // Instagram
        &.instagram {
            display: none;
            @media (min-width: 1040px) {
                display: block;
            }           
        }
        &__gallery {
            display: flex;
            flex-wrap: wrap;
            max-width: 350px;
            &__image {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }   
        // Newsletter   
        &.newsletter &__header-3 {
            @include fontStyle ($secondaryFont, 16, 400);
        }  
        &.newsletter &__form {
            font-family: $secondaryFont;
            &--email {
                border: 1px solid white;
                color: white;
                max-width: 185px;
                    &[placeholder] {
                        background: transparent;
                        padding: 15px;
                    }
            }
            &--submit {
                color: $accentColour;
                border: 1px solid $accentColour;
                padding: 15px;
                background:transparent;

            }
        }
        &.follow-us {
            @media (min-width: 1040px) {
                width: 100%;
            }
        }
        &.follow-us &__list{
            list-style: none;
            padding: 0;
            display: flex;
            @media (min-width: 1040px) {
                justify-content: center;
            }
            &__item {
                @media (min-width: 1040px) {
                    padding-right: 10px;
                }
                &:first-child {
                    @media (min-width: 1040px) {
                        display: none;
                    }
                }
                &__link {
                    color: white;
                    text-decoration: none;
                    & span:hover {
                        color: $accentColour;
                    }
                    & span:first-child {
                        display: none; 
                        @media (min-width: 1040px) {
                            display: inline;
                        }                   
                    }
                    & span:last-of-type {
                        display: inline-block;
                        padding: 5px;
                        @media (min-width: 1040px) {
                            display: none;
                        }
                    }
                }
            }
        } 
    }
}

// Footer 3: Legal footer
.footer__legal {
    background: darken($color: #eeeeee, $amount: 69);
    padding: 5px;
    .inner-wrapper {
        @media (min-width: 1040px) {
            display: flex;
            justify-content: space-between;
            padding: 25px 5px;
        }
    }
    &__copyright {
        margin: 0;
    }
    &__nav {
        font-family: $secondaryFont;
        &__list {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            @media (min-width: 1040px) {
                justify-content: flex-end;
                align-items: center;
                margin: 0;
            }
            &__item {
                @media (min-width: 1040px) {
                    &:nth-child(n + 2) {
                        &::before {
                            content: '|';
                            color: $lighterColour;
                            padding: 0 5px;

                        }
                    }
                }
                &__link {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        color: $accentColour;
                    }
                }
            }
        }
    }
}