// Footer 1: Promotions
.footer__promo {
    // position: relative;
    &__container {
        background-size: cover;
        padding: 50px 0 50px 20%;   
        color: white;
        &__header-2 {
            @include fontStyle($primaryFont, 30, 700);

        }
        &__header-3 {
            @include fontStyle($secondaryFont, 18, 400);
        }
        &__link {
            display: inline-block;
            text-decoration: none;
            color: white;
            border: 1px solid white;
            padding: 10px 15px;
            border-radius: 35px;
            &:hover {
                color: black;
                background: rgba(255, 255, 255, 0.2);
                border: 1px solid $accentColour;
            }
        }    
        &:nth-child(1) {
            background-color: black;
            background: url(../../images/footer-1.png) no-repeat center center;
        }   
        &:nth-child(2) {
            background: url(../../images/footer-2.png) no-repeat center center;
        }
                &:nth-child(2) &__header-2 {
                    color: $primaryColour;
                }
                &:nth-child(2) &__header-3 {
                    color: lighten($color: $primaryColour, $amount: 20);
                }
                &:nth-child(2) &__link {
                    color: black;
                    background: rgba(255, 255, 255, 0.2);
                    border: 1px solid $accentColour;
                    &:hover {
                        border: 1px solid black;
                        color: $accentColour;
                        background: rgba(0, 0, 0, 0.3);
                    }
                }


    }
    
}

// Footer 2: Global footer

.footer__global {
    background: darken($color: $lighterColour, $amount: 46);
    &__container {
        padding: 5px;
        color: white;
        &__header-2 {
            text-transform: uppercase;
            color: $accentColour;
        }
        // Contact
        &.contact &__list {
            list-style: none;
            padding: 0;
            &__item {
                font-family: $secondaryFont;
                &__link {
                    text-decoration: none;
                    color: white;
                }
            }
        } 
        // Tags
        &.tags &__link {
            @include fontSize(14);
            display: inline-block;
            margin: 2px;
            text-decoration: none;
            color: white;
            padding: 5px;
            border: 1px solid white;
            font-family: $secondaryFont;
            &:hover {
                border: 1px solid $accentColour;
                color: $accentColour;
            }
        }
        // Instagram
        &.instagram {
            display: none;
        }   
        // Newsletter   
        &.newsletter &__header-3 {
            @include fontStyle ($secondaryFont, 16, 400);
        }  
        &.newsletter &__form {
            font-family: $secondaryFont;
            &--email {
                border: 1px solid white;
                color: white;
                    &[placeholder] {
                        background: transparent;
                        padding: 15px;
                    }
            }
            &--submit {
                color: $accentColour;
                border: 1px solid $accentColour;
                padding: 15px;
                background:transparent;

            }
        }
        &.follow-us &__list{
            list-style: none;
            padding: 0;
            display: flex;
            &__item {
                &__link {
                    color: white;
                    text-decoration: none;
                    & span:hover {
                        color: $accentColour;
                    }
                    & span:first-child {
                        display: none;                    
                    }
                    & span:last-of-type {
                        display: inline-block;
                        padding: 5px;
                    }
                }
            }
        } 

    }


}

// Footer 3: Legal footer
.footer__legal {
    background: darken($color: #eeeeee, $amount: 69);
    padding: 5px;
    &__copyright {
        margin: 0;
    }
    &__nav {
        font-family: $secondaryFont;
        &__list {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            &__item {
                // &:nth-child(n + 2) {
                //     &::before {
                //         content: '|';
                //         color: $lighterColour;
                //         padding-right: 5px;
                //     }
                // }
                &__link {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}