
.nav-header {
    margin: 0 auto;
    padding: 10px;
    // display: flex;
    justify-content: space-between;
    // height: 20vh;
    #toggle {
        display: none;
    }
    #toggle:not(:checked) + &__global-nav {
        display: none;
        // visibility: hidden;
    }
    #toggle:checked + &__global-nav +  {
        display: block;
        // visibility: visible;
    }
    &__global-nav {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        &__logo {
            // display: block;
         }
         &__list {
            justify-content: space-around;
            list-style: none;
            padding: 5px 0;
            &__item {
                padding: 10px 0;
                &__link {
                    text-decoration: none;
                    color: lighten($color: $primaryColour, $amount: 20);
                    padding: 5px 0;
                    &:hover {
                        border-bottom: 2px solid $accentColour;
                    }
                }
            }
        }
    }
    &__shopping-nav {
        &__list {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100%;
            &__item {
                padding: 0 15px;
                &__link {
                   color: lighten($color: $primaryColour, $amount: 20); 
                }
            }
        }
    }
}