
.nav-header {
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    @media (min-width: 1040px) {
        display: flex;
        justify-content: space-between;
    }
    #toggle {
        display: none;
    }
    & [for="toggle"] {
        @include fontSize(40);
        @media (min-width: 640px) {
            display: none;
        }
    }
    #toggle:not(:checked) + &__global-nav {
        display: none;
        @media (min-width: 640px) {
            display: flex;
        }
    }
    #toggle:checked + &__global-nav +  {
        // display: block;
        // visibility: visible;
    }
    &__global-nav {
        display: flex;
        justify-content: space-between;
        @media (min-width: 640px) {
            flex-direction: column;
        }
        @media (min-width: 1040px) {
            flex-direction: row;
            width: calc(200% / 3);
        }
        &__logo {
            height: 100%;
         }
         &__list {
            justify-content: space-around;
            list-style: none;
            padding: 5px 0;
            @media (min-width: 640px) {
                display: flex;
                justify-content: space-around;
            }
            @media (min-width: 1040px) {
                margin: 0;
            }
            &__item {
                padding: 10px 0;
                @media (min-width: 1040px) {
                    padding: 10px;
                }
                &__link {
                    text-decoration: none;
                    color: lighten($color: $primaryColour, $amount: 20);
                    padding: 5px 0;
                    transition: all 0.2s ease;
                    &:hover {
                        border-bottom: 2px solid $accentColour;
                        color: $primaryColour;
                    }
                }
            }
        }
    }
    &__shopping-nav {
        &__list {
            list-style: none;
            padding: 5px 0;
            display: flex;
            flex-direction: column;
            @media (min-width: 640px) {
                flex-direction: row;
                justify-content: space-around;
            }
            @media (min-width: 1040px) {
                margin: 0;
            }
            &__item {
                padding: 10px 0px;
                text-align: right;
                position: relative;
                @media (min-width: 1040px) {
                    padding: 10px;
                }
                &__link {
                   color: lighten($color: $primaryColour, $amount: 20); 
                }
                &__country {
                    background: url(../../images/flag-arrow.png) no-repeat 90% center;
                    -moz-appearance: window;
                    -webkit-appearance: none;
                    width: 90px;
                    border: none;
                    text-align: right;
                    padding-left: 30px;
                    text-align: right;                             
                }
            }
        }
    }
}