$primaryColour: #333333;
// lighten 42 = #9e9e9e;
// lighten 20 = #666666;
// lighten 2  = #383838;
// lighten 75 = #f2f2f2;  <-- use for eeeeee



$lighterColour: #aaaaaa;
// darken 40 = 444444;

$accentColour: #d4bd52;



