@import 'setup';
@import 'utils';
@import 'typography';
@import 'components/header';
@import 'components/footer';
html {
    font-size: 62.5%;
}

body {
    @include fontSize(16);
    font-family: $primaryFont;
}

img {
    display: block;
    max-width: 100%;
}
// Hero header
.hero-header {
    padding: 10px;
    // height: 80vh;
    &__header-container {
        display: flex;
        flex-direction: column;
        position: relative;
        &__header-primary {
            color: $primaryColour;
            @include fontSize(35);
            margin-top: 0;
        }
        &__header-2 {
            order: -1;
            font-family: $secondaryFont;
            color: $lighterColour;
            @include fontSize(20);
            font-weight: 400;
        }
        &__header-3 {
            order: -2;
            color: $primaryColour;
            @include fontSize(16);
            font-weight: 400;
        }
        &__header-3::after {
            content: '';
            width: 33px;
            height: 1px;
            position: absolute;
            background: lighten($color: $primaryColour, $amount: 42);
            top: 45px;
            left: 0;
        }
        &__header-4 {
            // order: 1;
            display: none;
        }
        &__icon {
            order: 3;
            display: none;
        }
    }
    &__image-container {
        &__image {
            margin-bottom: 50px;
        }
        &__nav {
            display: flex;
            justify-content: space-between;
            position: relative;
            &__link {
                text-decoration: none;
                background: $accentColour;
                padding: 20px 40px;
                border-radius: 35px;
                text-align: center;
                color: white;
                font-weight: 400;
                @include fontSize(18);
            }
            &__list {
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;
                justify-content: space-around;
                position: absolute;
                right: 0;
                bottom: 100px;
                background: white;
                &__item {
                    width: 85px;
                    height: 80px; // text-align-last: right;
                    &__link {
                        @include fontSize(60);
                        color: lighten($color: $primaryColour, $amount: 20);
                        padding: 10px;
                    }
                    &__link:hover {
                        color: $accentColour;
                    }
                }
                &__item:last-child {}
            }
        }
    }
}

.section {
    margin: 75px 0;
}
// Section: Current promotions
.section {
    &__container {
        margin-bottom: 60px;
        &__header-2 {
            color: $primaryColour;
            @include fontSize(28);
            background: white;
            text-align: center;
            font-family: $primaryFont;
            font-weight: 700;
        }
        &__header-3 {
            font-family: $secondaryFont;
            color: $primaryColour;
            text-align: center;
        }
        &__link {
            position: relative;
            display: block;
            margin: 0 auto;
            &__image, &__image--current-promo {
                display: block;
                margin: 0 auto;
                // width: 100%;
            }
            
        }
        &__link__border::before {
            content: '';
            width: 65%;
            height: 80%;
            border: 5px solid white;
            background: transparent;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            @media (min-width: 640px) {
                width: 385px;
                height: 500px;
            }
        }
    }
}

// Section Header styles
.section {
    &__header-2 {
        font-family: $primaryFont;
        color: lighten($color: $primaryColour, $amount: 60);
        font-weight: 400;
        @include fontSize(35);
        text-align: center;
    }
    &__header-3 {
        font-family: $primaryFont;
        color: $primaryColour;
        font-weight: 400;
        text-align: center;
        @include fontSize(30);
    }
    &__title {
        text-align: center;
        font-family: $secondaryFont;
        color: $lighterColour;
        @include fontSize(18);    
        &__nav {
            &__list {
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                @media (min-width: 640px) {
                    justify-content: flex-end;   
                    margin-right: 10%;            
                }
                &__item {
                    &__link {
                        text-decoration: none;
                        color: $lighterColour;
                        &:hover {
                            color: $primaryColour; 
                        }
                    }
                    &:nth-child(n + 2)::before {
                        content: '/';
                        padding: 0 15px;
                    }                    
                }
            }
        }    
    }
}

// Section 2 and 4: Gallery styles
.section__gallery {
    @media (min-width: 640px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__product {
        margin: 0 auto;
        @media (min-width: 640px) {
        }
        &__images{
            position: relative;
            &__link {
                & > * {
                    margin: 0 auto;
                }
                &--buy {
                    position: absolute;
                    background: darken($color: $lighterColour, $amount: 49);
                    padding: 5px 10px;
                    bottom: -5px;
                    left: 50%;
                    transform: translateX(-50%);
                    &:hover {
                        background: $accentColour;
                    }
                }
            }            
        }
    &__description {
            font-family: $secondaryFont;
            margin: 15px 0;
            &__link {
                text-decoration: none;
                color: darken($color: $lighterColour, $amount: 40);
            }
            &__clothing-article {
                color: $lighterColour;
                font-weight: 300;
                margin: 0;
            }
            &__cost {
                margin: 0 0 30px;
                color: $primaryColour;
                font-family: $primaryFont;
                word-spacing: 1.5rem;
                &::first-letter {
                    padding-right: 5px;
                }
                &--sale {
                    @include fontSize(15);
                    color: $lighterColour;
                    text-decoration: line-through;
                }
            }
        }                     
    }
}

// Section 3: Lookbook
.section__container {
    position: relative;
    // display white border for table/desktop only.
    &__border--left {
        &::before {
            // content: '';
            // width: 100px;
            // height: 320px;
            // background: transparent;
            // border-top: 4px solid white;
            // border-left: 4px solid white;
            // border-bottom: 4px solid white;
            // position: absolute;
            // top: 100px;
            // left: 200px;
            // z-index: 10;
        }
    }
    &__border--right {
        // &::before {
        //     content: '';
        //     width: 100px;
        //     height: 320px;
        //     border-top: 4px solid white;
        //     position: absolute;
        //     top: 100px;
        //     left: 400px;
        //     z-index: 10;
        // }
        // &::after {
        //     content: '';
        //     width: 200px;
        //     height: 324px;
        //     border-bottom: 4px solid white;
        //     position: absolute;
        //     top: 100px;
        //     right: 0;
        //     z-index: 10;
        // }
    }
    &__arrow-nav {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: darken($color: $primaryColour, $amount: 1);
        z-index: 20;
        // margin: 15px;
        // padding: 0 20px;
        &__list {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;  
            &__item {
                &:nth-child(2)::before {
                    content: '';
                    height: 35px;
                    width: 4px;
                    background: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    z-index: 30;                    
                    // @include fontSize(20);
                } 
                &__link {
                    color: white;
                    padding: 0 10px;
                    @include fontSize(40);                    
                    line-height: 0;
                    display: inline-block;
                    &:hover {
                        color: $accentColour;
                    }
                }
            }          
        }

    }
}

// Section 5: Our Blog
.section__article {
    margin-bottom: 50px;
    &__blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__header-2 {
            @include fontSize(20);
            color: $primaryColour;
            font-weight: 400;            
        }
        &__header-3 {
            @include fontSize(12);
            color: $lighterColour;
            font-weight: 400;
            order: -1;
        }
        &__header-4 {
            @include fontSize(14);
            margin: 0;
            color: $lighterColour;
            font-weight: 400;
        }
        &__para {
            font-family: $secondaryFont;
            color: lighten($color: $primaryColour, $amount: 20);
            line-height: 2.8rem;
            margin: 5px;
        }
    }
}

.section__nav-container {
    &__arrow-nav {
        &__list {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            &__item {
                &:nth-child(2)::before {
                    content: '';
                    height: 35px;
                    width: 4px;
                    background: lighten($color: $primaryColour, $amount: 72);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    z-index: 30;
                }                
                &__link {
                    @include fontSize (40);
                    line-height: 0;
                    padding: 0 10px;      
                    color: lighten($color: $primaryColour, $amount: 20);
                    &:hover {
                        color: $accentColour;
                    }              
                }
            }          
        }
    }
}

