@import 'setup';
@import 'utils';
@import 'typography';
@import 'components/header';
@import 'components/footer';

html {
    font-size: 62.5%;
}

body {
    @include fontSize(16);
    font-family: $primaryFont;
}

img {
    display: block;
    max-width: 100%;
}

.hero-header {
    padding: 10px;
    &__header-container {
        display: flex;
        flex-direction: column;
        position: relative;
        &__header-primary {
            color: $primaryColour;
            @include fontSize(35);
            margin-top: 0;
        }
        &__header-2 {
            order: -1;
            font-family: $secondaryFont;
            color: $lighterColour;
            @include fontSize(20);
            font-weight: 400;

        }
        &__header-3 {
            order: -2;
            color: $primaryColour;
            @include fontSize(16);
            font-weight: 400;
        }
        &__header-3::after {
            content: '';
            width: 33px;
            height: 1px;
            position: absolute;
            background: lighten($color: $primaryColour, $amount: 42);
            top: 45px;
            left: 0;
        }
        &__header-4 {
            // order: 1;
            display: none;
        }
        &__icon {
            order: 3;
            display: none;
        }
    }
    &__image-container {
        &__image {
            margin-bottom: 50px;
        }
        &__nav {
            display: flex;
            justify-content: space-between;
            position: relative;
            &__link {
                text-decoration: none;
                background: $accentColour;
                padding: 20px 40px;
                border-radius: 35px;
                text-align: center;
                color: white;
                font-weight: 400;
                @include fontSize(18);
                height: 60px;
            }
            &__list {
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;
                justify-content: space-around;
                position: absolute;
                right: 0;
                bottom: 100px;
                background: white;
                &__item {
                    width: 85px;
                    height: 80px;
                    // text-align-last: right;
                    &__link {
                        @include fontSize(60);
                        color: lighten($color: $primaryColour, $amount: 20);
                        padding: 10px;
                    }
                    &__link:hover {
                        color: $accentColour;
                    }
                }
                &__item:last-child {
                    
                }
            }
        }
    }
}

.section {
    &__container {
        margin-bottom: 60px;
        &__header-2 {
            color: $primaryColour;
            @include fontSize(28);
            background: white;
            text-align: center;
            font-family: $primaryFont;
            font-weight: 700;
        }
        &__header-3 {
            font-family: $secondaryFont;
            color: $primaryColour;
            text-align: center;
        }
        &__link {
            &__image {
                display: block;
                margin: 0 auto;
                width: 100%;
            }
        }
    }
}